[submodule "mod/mm-decomp"]
	path = mod/mm-decomp
	url = https://github.com/zeldaret/mm
[submodule "mod/Zelda64RecompSyms"]
	path = mod/Zelda64RecompSyms
	url = https://github.com/Zelda64Recomp/Zelda64RecompSyms
